<div
  *ngIf="showModal"
  class="modal-container"
>
  <div class="modal-content">
    <div class="modal-header">
      <span
        class="modal-title"
        [innerHTML]="title | translate | safe:'html'"
      ></span>
      <mat-icon
        *ngIf="showCloseButton"
        class="modal-close"
        (click)="doCloseModal()"
      >close</mat-icon>
    </div>

    <div
      class="modal-body"
      [innerHTML]="body | translate | safe:'html'"
    ></div>

    <div
      *ngIf="buttons && buttons.length > 0"
      class="modal-buttons"
    >
      <app-link
        *ngFor="let btn of buttons"
        [setItem]="btn"
        (click)="doCloseModal()"
      ></app-link>
    </div>
  </div>
</div>
