@import './colors.scss';

.body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: $body-background;
  color: $body-text;

  .toolbar-top {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: calc(100% - 2%);
    height: 50px;
    top: 0;
    margin: 0 auto;
    padding: 5px 1%;
    justify-content: flex-start;
    align-items: center;
    color: $toolbar-text;
    background-color: $toolbar-background;
    box-shadow: 1px -5px 15px $toolbar-border;
    user-select: none;
    z-index: 1000;

    .toolbar-top-title {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      width: auto;
      min-width: 200px;
      height: calc(100% - 10px);
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      color: $toolbar-text;
      margin: 0;
      padding: 5px;

      .toolbar-top-title-image {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        border-radius: 50%;
      }
    }

    .toolbar-top-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;

      .toolbar-top-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: calc(100% - 210px);
        padding: 0;

        app-link {
          margin: 0 5px;
        }
      }
    }
  }

  .toolbar-bottom {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% - 2%);
    height: 50px;
    bottom: 0;
    margin: 0 auto;
    padding: 0 1%;
    text-transform: uppercase;
    font-size: .5em;
    font-weight: 550;
    font-style: italic;
    color: $toolbar-text;
    background: $toolbar-background;
    box-shadow: 1px 5px 15px $toolbar-border;
    user-select: none;
    z-index: 1;

    a,
    span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 2px;
    }

    .mat-icon {
      font-size: 20px;
    }
  }

  .main-container {
    position: relative;
    display: block;
    width: 100%;
    min-height: calc(100vh - 160px);
    top: 0;
    bottom: 0;
    margin: 60px auto 100px;
    padding: 0;
    background: rgba($content-background, .25);
    overflow: hidden;
    z-index: 2;

    .content {
      margin: 0 auto;
      padding: 30px;
      font-size: 14px;
      color: $content-text;
    }
  }
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1256px) {
  .toolbar-bottom {
    flex-direction: column !important;
    height: 100px !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    min-height: calc(100vh - 200px);
    margin: 100px auto !important;
  }

  .toolbar-top {
    height: 80px !important;
    flex-direction: column !important;
    justify-content: center !important;

    .toolbar-top-buttons {
      width: calc(100% - 2%) !important;
      padding: 0 1% !important;

      .spacer {
        flex: 0 !important;
      }

      .toolbar-top-menu {
        width: auto !important;
      }
    }

    app-link {
      margin: 0 2px !important;
    }
  }
}