<div class="body">
  <div class="toolbar-top">
    <span
      class="toolbar-top-title"
      (click)="doOpenHome()"
    >{{ APP_TITLE }}</span>

    <div class="spacer"></div>

    <div class="toolbar-top-buttons">
      <div class="toolbar-top-menu">
        <app-link
          *ngFor="let btn of btnMenu"
          [setItem]="btn"
        ></app-link>
      </div>

      <div class="spacer"></div>

      <app-link
        *ngFor="let btn of btnList"
        [setItem]="btn"
      ></app-link>
    </div>
  </div>

  <div class="main-container">
    <router-outlet></router-outlet>
  </div>

  <div class="toolbar-bottom">
    <span [innerHTML]="'MSG.appCredits' | translate : [{value: 'APP_TITLE', text: APP_TITLE}]"></span>
    <span>
      <mat-icon>copyright</mat-icon>
      <span [innerHTML]="'MSG.appRightsReserved' | translate"></span>
    </span>
  </div>
</div>

<app-modal [setModal]="modalItem"></app-modal>
